.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1%;
    margin-bottom: 1%;
    font-family:Arial, Helvetica, sans-serif
  }
  
  .search-input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
    font-size: 18px;
  }
  
  .search-boton {
    background-color: rgb(229, 149, 57);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 1%;
    font-family:Arial, Helvetica, sans-serif
  }

  .search-boton:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }